<%include ../components/header%>
<script>
  document.getElementById("nav-about").classList.add("active");
</script>
<!-- short -->
<div class="using-border py-3">
  <div class="inner_breadcrumb  ml-4">
    <ul class="short_ls">
      <li>
        <a href="index.html">Trang chủ</a>
        <span>/ /</span>
      </li>
      <li><a href="about">Giới thiệu</a></li>
    </ul>
  </div>
</div>
<!-- //short-->
<!--About -->
<section class="about py-lg-4 py-md-3 py-sm-3 py-3">
  <div class="container py-lg-5 py-md-4 py-sm-4 py-3">
    <div class="about-innergrid-agile text-center">
      <h4>Chào mừng đến với cửa hàng của chúng tôi</h4>
      <p class="mb-3">
        Với hơn 10 năm kinh nghiệm trong nghề, Toys-shop luôn không ngừng đổi
        mới, sàng tạo với với nhiều sản phẩm đồ chơi thiết kế độc đáo, phù hợp
        cho lứa tuổi của trẻ từ 5 đến 12 tuổi.
      </p>
      <div class=" img-toy-w3l-top"></div>
    </div>
    <div class="about-sub-inner text-center mt-lg-4 mt-3">
      <h4>Nơi lựa chọn những sản phẩm đồ chơi tốt cho trẻ nhỏ</h4>
      <div class="row">
        <div class="col-lg-4 col-md-4 abut-gride">
          <span class="fas fa-truck"></span>
          <h5>Giao hàng</h5>
          <p class="mt-3">
            Giao hàng tận nơi, tiện lợi, nhanh chóng, đáng tin cậy
          </p>
        </div>
        <div class="col-lg-4 col-md-4 abut-gride">
          <span class="fas fa-phone-volume"></span>
          <h5>Hỗ trợ</h5>
          <p class="mt-3">
            Hỗ trợ khách hàng nhiệt tình
          </p>
        </div>
        <div class="col-lg-4 col-md-4 abut-gride">
          <span class="fas fa-undo"></span>
          <h5>Đổi trả</h5>
          <p class="mt-3">
            Đổi trả trong vòng 3 ngày
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!--//about -->
<!--Customers Review -->
<section class="clients py-lg-4 py-md-3 py-sm-3 py-3" id="clients">
  <div class="container py-lg-5 py-md-5 py-sm-4 py-3">
    <h3 class="title clr text-center mb-lg-5 mb-md-4 mb-sm-4 mb-3">
      Đánh giá của khách hàng
    </h3>
    <div
      id="carouselExampleControls"
      class="carousel slide"
      data-ride="carousel"
    >
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="row">
            <div class="col-lg-6 clients-w3layouts-row">
              <div class="least-w3layouts-text-gap">
                <div class="row">
                  <div class="col-md-4 col-sm-4 news-img">
                    <img src="images/t1.jpg" alt="" class="image-fluid" />
                  </div>
                  <div class="col-md-8 col-sm-8 clients-says-w3layouts">
                    <h4>Bích Ngọc</h4>
                    <span class="mt-2">10 tuổi</span>
                  </div>
                  <div class="mt-3 news-agile-text">
                    <img src="images/tt1.jpg" alt="" class="image-fluid" />
                    <p class="mt-3">
                      <span class="fas fa-quote-left"></span> Gấu bông ở
                      Toys-shop thật đẹp. Có nhiều màu nè, nhiều hình nè, lại
                      còn rất êm nữa. Thích gấu bông ở đây quá.
                      <span class="fas fa-quote-right"></span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6 clients-w3layouts-row">
              <div class="least-w3layouts-text-gap">
                <div class="row">
                  <div class="col-md-4 col-sm-4 news-img">
                    <img src="images/t2.jpg" alt="" class="image-fluid" />
                  </div>
                  <div class="col-md-8 col-sm-8 clients-says-w3layouts">
                    <h4>Tuấn Khang</h4>
                    <span class="mt-2">10 tuổi</span>
                  </div>
                  <div class="mt-3 news-agile-text">
                    <img src="images/tt2.jpg" alt="" class="image-fluid" />
                    <p class="mt-3">
                      <span class="fas fa-quote-left"></span> Con thích đồ chơi
                      lắp ráp Toys-shop. Đẹp lắm. Con lắp được nhiều thứ lắm.
                      Con thường hay chơi đồ chơi lắp ráp này khi ba mẹ vắng
                      nhà.
                      <span class="fas fa-quote-right"></span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row">
            <div class="col-lg-6 clients-w3layouts-row">
              <div class="least-w3layouts-text-gap">
                <div class="row">
                  <div class="col-md-4 col-sm-4 news-img">
                    <img src="images/t1.jpg" alt="" class="image-fluid" />
                  </div>
                  <div class="col-md-8 col-sm-8 clients-says-w3layouts">
                    <h4>Bích Ngọc</h4>
                    <span class="mt-2">10 tuổi</span>
                  </div>
                  <div class="mt-3 news-agile-text">
                    <img src="images/tt1.jpg" alt="" class="image-fluid" />
                    <p class="mt-3">
                      <span class="fas fa-quote-left"></span> Gấu bông ở
                      Toys-shop thật đẹp. Có nhiều màu nè, nhiều hình nè, lại
                      còn rất êm nữa. Thích gấu bông ở đây quá.
                      <span class="fas fa-quote-right"></span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6 clients-w3layouts-row">
              <div class="least-w3layouts-text-gap">
                <div class="row">
                  <div class="col-md-4 col-sm-4 news-img">
                    <img src="images/t3.jpg" alt="" class="image-fluid" />
                  </div>
                  <div class="col-md-8 col-sm-8 clients-says-w3layouts">
                    <h4>Tuấn Khang</h4>
                    <span class="mt-2">10 tuổi</span>
                  </div>
                  <div class="mt-3 news-agile-text">
                    <img src="images/tt1.jpg" alt="" class="image-fluid" />
                    <p class="mt-3">
                      <span class="fas fa-quote-left"></span> Con thích đồ chơi
                      lắp ráp Toys-shop. Đẹp lắm. Con lắp được nhiều thứ lắm.
                      Con thường hay chơi đồ chơi lắp ráp này khi ba mẹ vắng
                      nhà.
                      <span class="fas fa-quote-right"></span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row">
            <div class="col-lg-6 clients-w3layouts-row">
              <div class="least-w3layouts-text-gap">
                <div class="row">
                  <div class="col-md-4 col-sm-4 news-img">
                    <img src="images/t2.jpg" alt="" class="image-fluid" />
                  </div>
                  <div class="col-md-8 col-sm-8 clients-says-w3layouts">
                    <h4>Bích Ngọc</h4>
                    <span class="mt-2">10 tuổi</span>
                  </div>
                  <div class="mt-3 news-agile-text">
                    <img src="images/tt2.jpg" alt="" class="image-fluid" />
                    <p class="mt-3">
                      <span class="fas fa-quote-left"></span> Gấu bông ở
                      Toys-shop thật đẹp. Có nhiều màu nè, nhiều hình nè, lại
                      còn rất êm nữa. Thích gấu bông ở đây quá.
                      <span class="fas fa-quote-right"></span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6 clients-w3layouts-row">
              <div class="least-w3layouts-text-gap">
                <div class="row">
                  <div class="col-md-4 col-sm-4 news-img">
                    <img src="images/t3.jpg" alt="" class="image-fluid" />
                  </div>
                  <div class="col-md-8 col-sm-8 clients-says-w3layouts">
                    <h4>Tuấn Khang</h4>
                    <span class="mt-2">10 tuổi</span>
                  </div>
                  <div class="mt-3 news-agile-text">
                    <img src="images/tt1.jpg" alt="" class="image-fluid" />
                    <p class="mt-3">
                      <span class="fas fa-quote-left"></span> Con thích đồ chơi
                      lắp ráp Toys-shop. Đẹp lắm. Con lắp được nhiều thứ lắm.
                      Con thường hay chơi đồ chơi lắp ráp này khi ba mẹ vắng
                      nhà.
                      <span class="fas fa-quote-right"></span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <a
        class="carousel-control-prev"
        href="#carouselExampleControls"
        role="button"
        data-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a
        class="carousel-control-next"
        href="#carouselExampleControls"
        role="button"
        data-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</section>
<!--//Customers Review -->
<% include ../components/footer%>
