<%include ../components/header%> <% if(message) {%>
<div
  style="text-align: center; display: flex; flex-direction: column; justify-content: center; margin-top: 20px"
>
  <label><%=message %></label>
  <%}%>
  <form style="text-align: center; margin-bottom: 10px" method="POST" action="authenticate">
    <button type="submit" class="btn subscrib-btnn" >
      OK
    </button>
  </div>
</div>
<!--//Customers Review -->
<% include ../components/footer%>
