<%include ../components/header%>
<link rel="stylesheet" href="stylesheets/signup.css" />
<div class="form-group from-signup">
  <label id="lable-sign-up" for="sign-up">Đổi mật khẩu</label>
  <br />

  <div class="label-input-signup" id="label-pass">
    Mật khẩu mới<span>*</span>
  </div>
  <input
    type="password"
    class="form-control required"
    name="sign-up"
    id="password"
    aria-describedby="helpId"
    required
    onkeydown="onValidPass()"
  />

  <div class="label-input-signup " id="label-repass">
    Nhập lại mật khẩu<span>*</span>
  </div>
  <input
    type="password"
    class="form-control required"
    name="sign-up"
    id="re-password"
    aria-describedby="helpId"
    required
    onkeydown="onValidPass()"
  />

  <button id="btn-change-password" type="submit" onclick="checkSignUp()">
    Đổi mật khẩu
  </button>

  <script>
    const onValidPass = () => {
      document.getElementById("label-pass").innerHTML =
        "Mật khẩu<span>*</span>";
      document.getElementById("label-repass").innerHTML =
        "Nhập lại mật khẩu<span>*</span>";
    };
    const checkPassword = () => {
      const pass = document.getElementById("password");
      const repass = document.getElementById("re-password");
      console.log("in check pass");
      if (pass.value.length < 8) {
        document.getElementById("label-pass").innerHTML =
          'Mật khẩu<span>*</span>  <span class = "alert"> (Mật khẩu phải từ 8 ký tự trở lên) </span>';
        pass.focus();
        return false;
      }

      if (pass.value == repass.value) {
        alert("Đăng ký thành công");
        return true;
      } else {
        document.getElementById("label-repass").innerHTML =
          'Nhập lại mật khẩu<span>*</span>  <span class = "alert"> (Vui lòng nhập lại password) </span>';
        document.getElementById("re-password").focus();
        return false;
      }
    };

    const checkEmpty = () => {
      const required = document.getElementsByClassName("required");
      Array.from(required)
        .reverse()
        .forEach(item => {
          if (item.value == "") {
            item.focus();
            return false;
          }
        });
      return true;
    };
    const checkSignUp = () => {
      if (checkEmpty() && checkPassword()) {
        console.log("success");
      }
    };
  </script>
</div>

<% include ../components/footer%>
