<%include ../components/header%>
<link rel="stylesheet" href="stylesheets/signup.css" />
<!-- short -->
<div class="using-border py-3">
  <div class="inner_breadcrumb  ml-4">
    <ul class="short_ls">
      <li>
        <a href="index.html">Trang chủ</a>
        <span>/ /</span>
      </li>
      <li><a href="forget-password">Quên mật khẩu</a></li>
    </ul>
  </div>
</div>
<!-- //short-->

<div class="form-group from-signup">
  <label id="lable-sign-up" for="sign-up">Quên mật khẩu</label>
  <br />
  <div class="label-input-signup ">Email đăng nhập<span>*</span></div>
  <input
    type="email"
    class="form-control required"
    name="sign-up"
    id="email"
    aria-describedby="helpId"
    required
    onkeydown="checkEmailValid()"
  />

  <button
    id="btn-submit-email"
    type="submit"
    onclick="checkEmpty()"
    disabled="true"
  >
    Gửi mã xác nhận
  </button>
  <small></small>

  <script>
    const checkEmpty = () => {
      const email = document.getElementById("email");
      if (email.value == "") {
        email.focus();
      }
    };
    checkEmailValid = () => {
      const email = document.getElementById("email");
      var regax = RegExp("@");
      if (regax.test(email.value)) {
        document.getElementById("btn-submit-email").disabled = false;
      } else {
        document.getElementById("btn-submit-email").disabled = true;
      }
    };
  </script>
</div>

<% include ../components/footer%>
