<%include ../components/header%>
<link rel="stylesheet" href="stylesheets/signup.css" />
<!-- short -->
<div class="using-border py-3">
  <div class="inner_breadcrumb  ml-4">
    <ul class="short_ls">
      <li>
        <a href="index.html">Trang chủ</a>
        <span>/ /</span>
      </li>
      <li><a href="forget-password">Quên mật khẩu</a></li>
    </ul>
  </div>
</div>
<!-- //short-->

<form class="form-group from-signup" method="POST" action="forget-password">
  <label id="lable-sign-up" for="email">Quên mật khẩu</label>
  <br />
  <div>
   
  <div class="label-input-signup ">Email đăng nhập<span>*</span><br> <i id="check-email-message"></i></div>
  <input
    type="email"
    class="form-control required"
    name="email"
    id="email-user"
    aria-describedby="helpId"
    required
    onkeyup="checkEmail()"
  />

  <button
    id="btn-submit-email"
    type="submit"
  >
    Gửi mã xác nhận
  </button>
  <small></small>
</div>
</from>
<script>

</script>
<% include ../components/footer%>
