<%include ../components/header%>
<link rel="stylesheet" href="stylesheets/signup.css" />
<form class="form-group from-signup" method="POST" action="reset-password">
  <label id="lable-sign-up" for="sign-up">Đổi mật khẩu</label>
  <br />

  <div class="label-input-signup" id="label-pass">
    Mật khẩu mới<span>*</span>
    <i id="notice-newpass" style="color: red"></i>
  </div>
  <input type="password" class="form-control required" name="password" id="password" aria-describedby="helpId" required
    onkeyup="checknewpassword(this.value)" />

  <div class="label-input-signup " id="label-repass">
    Nhập lại mật khẩu<span>*</span>
    <i id="notice-repass" style="color: red"></i>
  </div>
  <input type="password" class="form-control required" name="repassword" id="repassword" aria-describedby="helpId"
    required onkeyup="checkrepassword(this.value)" />
  <% if(token) {%>
  <input name="token" type="text" class="form-control form-control-lg border-left-0" id="token" value="<%= token %>"
    hidden />
  <%} %>
</form>
<button id="btn-change-password" type="" onclick="checkInputPassword()">
  Đổi mật khẩu
</button>

<script>
  function checkInputPassword() {
    const newpass = document.getElementById("password").value;
    const repass = document.getElementById("repassword").value;

    if (checknewpassword(newpass) && checkrepassword(repass)) {
      document.getElementsByClassName("from-signup")[0].submit();
    }
  }
</script>
<script>
  function checknewpassword(pass) {
    let result = false;
    if (pass.length < 8) {
      document.getElementById("notice-newpass").innerHTML =
        "Mật khẩu bạn nhập phải lớn hơn hoặc bằng 8 kí tự";
    } else if (pass.search(/[a-zA-Z]/i) < 0) {
      document.getElementById("notice-newpass").innerHTML =
        "Mật khẩu bạn nhập phải chứa kí tự";
    } else if (pass.search(/[0-9]/) < 0) {
      document.getElementById("notice-newpass").innerHTML =
        "Mật khẩu bạn nhập phải chứa số";
    } else {
      document.getElementById("notice-newpass").innerHTML = "";
      result = true;
    }
    return result;
  }
  function checkrepassword(repass) {
    let result = false;
    const pass = document.getElementById("password").value;
    if (repass === null || repass !== pass) {
      document.getElementById("notice-repass").innerHTML =
        "Nhập khẩu bạn nhập phải trùng với mật khẩu";
    } else {
      document.getElementById("notice-repass").innerHTML = "";
      result = true
    }
    return result;
  }
</script>

<% include ../components/footer%>