<%include ../components/header%>
<script>
  document.getElementById("nav-service").classList.add("active"); //product nav-item
</script>
<!-- short -->
<div class="using-border py-3">
  <div class="inner_breadcrumb  ml-4">
    <ul class="short_ls">
      <li>
        <a href="index.html">Trang chủ</a>
        <span>/ /</span>
      </li>
      <li><a href="service">dịch vụ</a></li>
    </ul>
  </div>
</div>
<!-- //short-->
<!--service -->
<section class="service py-lg-4 py-md-3 py-sm-3 py-3">
  <div class="container py-lg-5 py-md-4 py-sm-4 py-3">
    <h3 class="title text-center mb-lg-5 mb-md-4 mb-sm-4 mb-3">Dịch vụ</h3>
    <div class="row text-center">
      <div class="col-lg-4 col-md-6 abut-gride">
        <span class="fas fa-truck"></span>
        <h5>Giao hàng</h5>
        <p class="mt-3">
          Giao hàng tận nơi, tiện lợi, nhanh chóng, đáng tin cậy
        </p>
      </div>
      <div class="col-lg-4 col-md-6 abut-gride">
        <span class="fas fa-phone-volume"></span>
        <h5>Hỗ trợ</h5>
        <p class="mt-3">
          Hỗ trợ khách hàng nhiệt tình
        </p>
      </div>
      <div class="col-lg-4 col-md-6 abut-gride">
        <span class="fas fa-undo"></span>
        <h5>Trả hàng</h5>
        <p class="mt-3">
          Nếu có lỗi từ nhà sản xuất
        </p>
      </div>
      <div class="col-lg-4 col-md-6 mt-lg-4 mt-3 abut-gride">
        <span class="fas fa-money-bill-alt"></span>
        <h5>Thanh toán online</h5>
        <p class="mt-3">
          Nhanh chóng, an toàn, bảo mật
        </p>
      </div>
      <div class="col-lg-4 col-md-6 mt-lg-4 mt-3 abut-gride">
        <span class="fas fa-exchange-alt"></span>
        <h5>Đổi hàng</h5>
        <p class="mt-3">
          Đổi hàng trong vòng 3 ngày
        </p>
      </div>
      <div class="col-lg-4 col-md-6 mt-lg-4 mt-3 abut-gride">
        <span class="fas fa-thumbs-up"></span>
        <h5>Chất lượng</h5>
        <p class="mt-3">
          Chất lượng uy tín, an toàn cho trẻ
        </p>
      </div>
    </div>
  </div>
</section>
<!--//service -->
<% include ../components/footer%>
