<%include ../components/header%>
<link rel="stylesheet" href="stylesheets/signup.css" />
<link rel="stylesheet" href="stylesheets/forgetpassword.css" />
<div class="form-group from-signup">
  <label id="lable-sign-up" for="sign-up">Thay đổi thông tin cá nhân</label>
  <br />
  <a href="/change-password" id="link-change-password">Thay đổi mật khẩu?</a>
  <br />
  <div class="label-input-signup ">Ảnh đại diện</div><br>
      <button type="button"
      id="btnChooseFile"
        class="btn subscrib-btnn"
        onclick="document.getElementById('filesToUpload').click();"
      >Chọn ảnh</button>
      <img src="<%if (user!= null) { %>
        <%=user.image %> 
           <%}%>""  id="avatar" width="100px" height="100px">
      <input
        name="filesToUpload[]"
        id="filesToUpload"
        type="file"
        onchange="Uploadfile()"
        style="display: none"
        accept=".png, .jpg, .jpeg, .gif"
      />
      <br>
  <div class="label-input-signup ">Họ và tên<span>*</span></div>
  <input
    type="text"
    class="form-control required"
    name="sign-up"
    id="nameUser"
    aria-describedby="helpId"
    required
    value=<% if (user) { %>
         <%=user.name %> 
            <%} else{%> "" <%}%>
            />
  <div class="label-input-signup">Ngày tháng năm sinh<span></span></div>
  <input
    type="date"
    class="form-control"
    name="sign-up"
    id="dob"
    aria-describedby="helpId"
    data-date-format="DD MM YYYY"
    value=  <%if (user!= null) { %>
      <%=user.birthday %> 
         <%}%> 
  />

  <div class="label-input-signup">Số điện thoại<span></span></div>
  <input
    type="text"
    class="form-control"
    name="sign-up"
    id="phone"
    aria-describedby="helpId"
    value= <%if (user!= null) { %>
      <%=user.phoneNumber %> 
         <%}%> 
           />

  <button id="btn-sign-up" type="submit" onclick="checkInfor()">
    Lưu
  </button>

  <script>
    const checkEmpty = () => {
      const required = document.getElementsByClassName("required");
      Array.from(required)
        .reverse()
        .forEach(item => {
          if (item.value == "") {
            item.focus();
            return false;
          }
        });
      return true;
    };
    const checkInfor = () => {
      checkEmpty();
    };
    function Uploadfile() {
    const input = document.getElementById("filesToUpload");
   const avatar = document.getElementById("avatar");

    const apiUrl = "https://api.imgur.com/3/image";
    const token = "4262f0ea0613e5e6565050b4c5b7775c78d3722d";
    let settings = {
      async: false,
      crossDomain: true,
      processData: false,
      contentType: false,
      type: "POST",
      url: apiUrl,
      headers: {
        Authorization: "Bearer " + token,
        Accept: "application/json"
      },
      mimeType: "multipart/form-data"
    };
    let formData = new FormData();
    for (let x = 0; x < input.files.length; x++) {
      formData.append("image",  input.files[x]);
      settings.data = formData;
      $.ajax(settings)
        .done(
          res => (avatar.src = JSON.parse(res).data.link)
        )
        .fail(err => console.log("err", err));
    }
  }
  </script>
</div>

<% include ../components/footer%>
