 <!--cartShopModal-->
 <div class="modal fade" id="loginedUserModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <!-- <div class="modal-dialog" role="document">
       <div class="modal-content" id="modal-user">
            <% if (user){%>
                 <h5 class="modal-title" id="loginedUserModalLabel">Xin chào, <%=user.name%></h5>
                <%} %>
        

       </div>
    </div> -->
 </div>
 <!-- //cartShopModal-->