<li>
<div class="agileinfo_port_grid">
  <img src= <% =product.imgs%> alt=" " class="img-fluid" />
  <div class="banner-right-icon">
    <h4 class="pt-3"><%=product.name%></h4>
  </div>
  <div class="outs_more-buttn">
    <a href="shop">Mua ngay</a>
  </div>
</div>
</li>