<div class="row special-sec1">
  <div class="col-xs-4 img-deals">
    <img src=<%=product.imgs[0]%> alt="" class="img-fluid" />
  </div>
  <div class="col-xs-8 img-deal1">
    <h3><%=product.name%></h3>
    <a href="single"><%=product.price%></a>
  </div>
  <div class="clearfix"></div>
</div>
